@import '../../sass/mixins.scss';

.shop {
  width: 100%;

  &-title {
    margin: -1rem 0 .7rem 0;
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--color-red-1);
  }

  &__sort {
    padding-left: 3px;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-light-grey-2);
    border-bottom: 1px solid var(--color-light-grey-2);
    margin-bottom: 1rem;

    & img {
      margin-right: 1.2rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--selector {
      display: flex;
      align-items: center;
      

      & label {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-light-grey-1);
        margin-right: 1.3rem;
      }

      & select {
        width: 21.5rem;
        height: 2.6rem;
        padding: 0 1rem;
        font-size: 1.4rem;
        color: var(--color-black);
        border-radius: 5px;
        border: 1px solid var(--color-light-grey-2);

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__display {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3.5rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.5%;

    &:not(:nth-of-type(4n)) {
      margin-right: 3.33%;
    }

    &--img {
      width: 100%;
      height: 23.3rem;
      margin-top: 2.5rem;
      margin-bottom: .8rem;
      border: 1px solid var(--color-light-grey-2);
    }

    &--name {
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--color-dark-grey-2);
      height: 4.4rem;
      // margin-bottom: 2.3rem;
      text-align: center;
    }

    &--price {
      font-size: 2.2rem;
      font-weight: 800;
      color: var(--color-red-1);
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      &-promo {
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration: line-through;
        color: var(--color-light-grey-1);
        margin-right: 1.3rem;
      }
    }

    &--btn {
      width: 100%;
      height: 4rem;
      border: none;
      font-weight: 700;
      font-size: 1.8rem;
      color: var(--color-white);
      background-color: var(--color-patina-2);
      border-radius: 5px;
      transition: all .3s;

      &:hover {
        cursor: pointer;
        transform: translateY(-3px);
      }

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(-2px);
      }
    }
  }

  &__pagination {
    margin: 2.7rem 0;
    width: 100%;
    

    & ul {
      list-style: none;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    
    &--page {
      font-size: 1.7rem;
      font-weight: 500;
      margin-right: 2rem;
      color: var(--color-dark-grey-2);

      &:nth-of-type(1) {
        margin-left: 2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &--arrow {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// MEDIA QUERIES
@include small-desktop {
  .shop {
    &-title {
      margin: -.7rem 0 .5rem 0;
      font-size: 2.4rem;
    }

    &__sort {
      height: 3.3rem;
      margin-bottom: 0;

      & img {
        height: 1.3rem;
        margin-right: 1rem;
      }
      
      &--selector {
        & label {
          font-size: .8rem;
          margin-right: 1rem;
        }
      
        & select {
          width: 16.2rem;
          height: 2rem;
          font-size: 1rem;
          border-radius: 4px;
        }
      }
    }

    &__item {
      &--img {
        height: 17.5rem;
        margin-bottom: .5rem;
      }
  
      &--name {
        font-size: 1.2rem;
        height: 3.2rem;
        margin-bottom: .3rem;
      }
  
      &--price {
        font-size: 1.6rem;
        margin-bottom: .7rem;
  
        &-promo {
          font-size: 1.2rem;
          margin-right: 1rem;
        }
      }
  
      &--btn {
        height: 3rem;
        font-size: 1.4rem;
      }
    }

    &__pagination {
      margin: 2.1rem 0;
      
      &--page {
        font-size: 1.2rem;
        margin-right: 1.5rem;
  
        &:nth-of-type(1) {
          margin-left: 1.5rem;
        }
      }

      &--arrow {
        height: .8rem;
      }
    }
  }
}

@include big-tablet {
  .shop {
    &-title {
      margin: -.7rem 0 .7rem 0;
      font-size: 3.1rem;
    }

    &__sort {
      height: 4.5rem;
      margin-bottom: .8rem;
      

      & img {
        height: 1.8rem;
        margin-right: 1.2rem;
      }
      
      &--selector {
        & label {
          font-size: 1.1rem;
          margin-right: 1.4rem;
        }
      
        & select {
          width: 21.6rem;
          height: 2.7rem;
          font-size: 1.4rem;
          border-radius: 5px;
        }
      }
    }

    &__item {
      &--img {
        height: 18rem;
        margin-bottom: 1rem;
      }
  
      &--name {
        font-size: 1.6rem;
        height: 4rem;
        margin-bottom: 0;
      }
  
      &--price {
        font-size: 2.2rem;
        margin-bottom: 1rem;
  
        &-promo {
          margin-right: .6rem;
          font-size: 1.6rem;
        }
      }
  
      &--btn {
        height: 4rem;
        font-size: 1.8rem;
      }
    }

    &__pagination {
      margin: 2.6rem 0;
      
      &--page {
        font-size: 1.7rem;
        margin-right: 2rem;
  
        &:nth-of-type(1) {
          margin-left: 2rem;
        }
      }

      &--arrow {
        height: 1rem;
      }
    }
  }
}

@include tablet {
  .shop {
    &__item {
      width: 30%;

      &:not(:nth-of-type(4n)) {
        margin-right: 0;
      }

      &:not(:nth-of-type(3n)) {
        margin-right: 5%;
      }

      &--img {
        height: 16.5rem;
        margin-bottom: 1rem;
      }
  
      &--name {
        font-size: 1.6rem;
        height: 4rem;
        margin-bottom: 0;
      }
  
      &--price {
        flex-direction: column;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        height: 5.4rem;
        position: relative;
        align-items: center;
        justify-content: flex-end;
          
        &-promo {
          margin-right: .6rem;
          font-size: 1.6rem;
        }
      }
  
      &--btn {
        height: 4rem;
        font-size: 1.8rem;
      }
    }

    &__pagination {
      margin: 1.5rem 0;
      
      &--page {
        font-size: 1.7rem;
        margin-right: 2rem;
  
        &:nth-of-type(1) {
          margin-left: 2rem;
        }
      }

      &--arrow {
        height: 1rem;
      }
    }
  }
}

@include mobile {
  .shop {
    &-title {
      font-size: 3.1rem;
    }

    &__sort {
      height: 4.5rem;
      margin-bottom: .8rem;
      border: none;
      
      &--icons {
        display: none;
      }
      
      &--selector {      
        & select {
          width: 19rem;
        }
      }

      & select {
        flex-grow: 1;
      }
    }

    &__item {
      width: 46%;

      &:not(:nth-of-type(4n)) {
        margin-right: 0;
      }

      &:not(:nth-of-type(3n)) {
        margin-right: 0%;
      }

      &:not(:nth-of-type(2n)) {
        margin-right: 8%;
      }

      &--img {
        height: 14.6rem;
        margin-bottom: 1rem;
      }
  
      &--name {
        font-size: 1.6rem;
        height: 4rem;
        margin-bottom: 0;
      }
  
      &--price {
        flex-direction: column;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        height: 5.4rem;
        position: relative;
        align-items: center;
        justify-content: flex-end;
          
        &-promo {
          margin-right: .6rem;
          font-size: 1.6rem;
        }
      }
  
      &--btn {
        height: 4rem;
        font-size: 1.8rem;
      }
    }
  }
}