@mixin small-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin big-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 450px) {
    @content;
  }
}