// CSS COLORS
:root {
  --color-white: #fff;
  --color-black: #000;

  --color-light-grey-1: #959595;
  --color-light-grey-2: #DFDEDC;

  --color-dark-grey-1: #231F20;
  --color-dark-grey-2: #6E6E6E;

  --color-red-1: #CC0D1F;

  --color-patina: #62908D;
  --color-patina-2: #80BDB8;
}