@import '../../sass/mixins.scss';

.filter {
  padding: 1.4rem 1.8rem;
  border: 1px solid var(--color-light-grey-2);
  color: var(--color-dark-grey-2);
  font-size: 1.6rem;
  width: 33.2rem;
  margin-right: 2.5rem;
  max-height: 49rem;

  &__title {
    font-size: 2.4rem;
    color: var(--color-red-1);
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-patina);
    margin-bottom: 1rem;

    &:not(:first-of-type) {
      margin-top: 2.2rem;
    }
  }

  
  &__list li {
    list-style-type: none;
    position: relative;
    padding-left: 2rem;
    margin-bottom: .5rem;

    &:hover {
      cursor: pointer;
    }

    &::before {
      padding-left: 2rem;
      content: '\2022';
      position: absolute;
      left: -0.8em;
      font-size: 1.1em;      
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;

    &--display {
      width: 4.8rem;
      height: 2.4rem;
      margin: 0 3px 3px 0;
      list-style: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include small-desktop {
  .filter {
    padding: 1.1rem 1.3rem;
    width: 24rem;
    max-height: 38rem;
    margin-right: 1.8rem;

    &__title {
      font-size: 1.8rem;
      margin-bottom: .8rem;
    }

    &__subtitle {
      font-size: 1.4rem;
      margin-bottom: .8rem;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }

    &__list li {
      font-size: 1.2rem;
      padding-left: 1.3rem;
      margin-bottom: .7rem;
  
      &::before {
        padding-left: 1.3rem;
        font-size: 1.2rem;      
      }
    }

    &__colors {
      &--display {
        width: 3.6rem;
        height: 1.8rem;
        margin: 0 2px 2px 0;
      }
    }
  } 
}

@include big-tablet {
  .filter {
    padding: 1.3rem 1.7rem;
    width: 28.5rem;
    max-height: 48rem;
    margin-right: 2.5rem;

    &__title {
      font-size: 2.4rem;
      margin-bottom: 1.4rem;
    }

    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 1.1rem;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }

    &__list li {
      font-size: 1.6rem;
      padding-left: 1.4rem;
      margin-bottom: .8rem;
  
      &::before {
        padding-left: 1.4rem;
        font-size: 1.4rem;      
      }
    }

    &__colors {
      &--display {
        width: 4.8rem;
        height: 2.4rem;
        margin: 0 3px 3px 0;
      }
    }
  }
}

@include tablet {
  .filter {
    width: 28.5rem;
  }
}

@include mobile {
  .filter {
    width: 100%;
    margin-bottom: 2rem;

    &__title {
      font-size: 2.4rem;
      margin-bottom: 1.4rem;
    }

    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 1.1rem;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }

    &__list li {
      font-size: 1.6rem;
      padding-left: 1.4rem;
      margin-bottom: .8rem;
  
      &::before {
        padding-left: 1.4rem;
        font-size: 1.4rem;      
      }
    }

    &__colors {
      &--display {
        width: 4.8rem;
        height: 2.4rem;
        margin: 0 3px 3px 0;
      }
    }
  }
}