@import '../../sass/mixins.scss';

.navbar-padding {
  padding: 0 34rem;
}

.navbar {
  width: 100vw;

  &__top {
    @extend .navbar-padding;
    height: 3rem;
    
    background-color: var(--color-dark-grey-1);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--text {
      font-size: 1.4rem;
      font-weight: 300;
    }

    &--btn {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      color: var(--color-white);
      font-weight: 700;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__search {
    @extend .navbar-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.5rem;

    &--menu, &--magnifying-glass {
      display: none;
    }

    &--logo {
      height: 5.5rem;
    }

    &-container {
      display: flex;
    }

    &--input {
      width: 41rem;
      border: 1px solid var(--color-light-grey-1);
      height: 4.4rem;
      font-size: 1.6rem;
      color: var(--color-dark-grey-1);
      padding: 1rem 2rem;

      &:focus {
        outline: none;
      }
    }

    &--btn {
      width: 11rem;
      height: 4.4rem;
      background-color: var(--color-red-1);
      color: var(--color-white);
      border: 1px solid var(--color-red-1);
      font-size: 1.6rem;
      font-weight: 700;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__buttons {
    @extend .navbar-padding;
    background-color: var(--color-red-1);
    height: 5.5rem;

    & ul {
      list-style: none;
      display: flex;
      height: 100%;
      align-items: center;
      width: 85rem;
      justify-content: space-between;
    }

    & button {
      background-color: transparent;
      border: none;
      color: var(--color-white);
      font-size: 1.6rem;
      font-weight: 700;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}


// MEDIA QUERIES
@include small-desktop {
  .navbar-padding {
    padding: 0 25.5rem;
  }

  .navbar {
    &__top {
      height: 2.2rem;

      &--text {
        font-size: 1.1rem;
      }

      &--btn {
        font-size: 1.1rem;
      }
    }

    &__search {
      height: 8.5rem;

      &--logo {
        height: 4.2rem;
      }

      &--input {
        height: 3.3rem;
        width: 31rem;
      }

      &--btn {
        height: 3.3rem;
        width: 8.2rem;
        font-size: 1.2rem;
      }
    }

    &__buttons {
      height: 4rem;

      & ul {
        width: 63rem;
      }

      & button {
        font-size: 1.3rem;
      }
    }
  }
}

@include big-tablet {
  .navbar-padding {
    padding: 0 2rem;
  }

  .navbar {
    &__top {
      height: 3rem;

      &--text {
        font-size: 1.4rem;
      }

      &--btn {
        font-size: 1.4rem;
      }
    }

    &__search {
      height: 11.5rem;

      &--logo {
        height: 5.5rem;
      }

      &--input {
        height: 4.4rem;
        width: 41.4rem;
      }

      &--btn {
        height: 4.4rem;
        width: 11rem;
        font-size: 1.6rem;
      }
    }

    &__buttons {
      height: 5.4rem;

      & ul {
        width: 72rem;
      }

      & button {
        font-size: 1.7rem;
      }
    }
  }
}

@include tablet {
  .navbar-padding {
    padding: 0 2rem;
  }

  .navbar {
    &__search {
      &--input {
        width: 28.5rem;
      }
    }

    &__buttons {
      height: 5.4rem;

      & ul {
        width: 100%;
      }

      & button {
        font-size: 1.7rem;
      }
    }
  }
}

@include mobile {
  .navbar-padding {
    padding: 0 4.3%;
  }

  .navbar {
    &__top {
      justify-content: center;
    }

    &__search {
      height: 10.5rem;
      position: relative;

      &--menu {
        height: 1.9rem;
      }

      &--magnifying-glass {
        height: 2.6rem;
      }

      &--menu, &--magnifying-glass {
        display: block;
        
        &:hover {
          cursor: pointer;
        }
      }

      &--logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5.5rem;
      }

      &--input, &--btn {
        display: none;
      }
    }

    &__buttons {
      display: none;
    }
  }
}