@import '../../sass/mixins.scss';

.footer {
  margin: 0 34rem 5rem 34rem;
  height: 17.5rem;
  width: calc(100vw - 68rem);
  background-color: var(--color-red-1);
}

@include small-desktop {
  .footer {
    height: 13.2rem;
    margin: 0 25.5rem 3.6rem 25.5rem;
    width: calc(100vw - 51rem);
  }
}

@include big-tablet {
  .footer {
    height: 17.6rem;
    margin: 0 2rem 1.5rem 2rem;
    width: calc(100vw - 4rem);
  }
}

@include tablet {
  .footer {
    margin: 0 2rem 3.2rem 2rem;
  }
}

@include mobile {
  .footer {
    margin: 0 4.3% 1.5rem 4.3%;
    width: calc(100vw - 8.6%);
  }
}