@import './sass/mixins.scss';

.category-selected {
  padding: 0 34rem;

  height: 7rem;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.shop-container {
  display: flex;
  padding: 0 34rem;
  width: 100vw;

  position: relative;
}

// MEDIA QUERIES
@include small-desktop {
  .category-selected {
    padding: 0 25.5rem;
    font-size: 1.05rem;
    height: 5.2rem;
  }

  .shop-container {
    padding: 0 25.5rem;
  }
}

@include big-tablet {
  .category-selected {
    padding: 0 2rem;
    font-size: 1.4rem;
    height: 6.9rem;
  }

  .shop-container {
    padding: 0 2rem;
  }
}

@include mobile {
  .category-selected {
    margin: -5px 0 5px 0;
    padding: 0 4.3%;
    height: 3.2rem;
  }

  .shop-container {
    padding: 0 4.3%;
    width: 100%;
    flex-direction: column;
  }
}