.modal-mobile {
  width: 100vw;
  height: 25vh;

  & ul {
    width: 100%;
    text-align: center;
  }

  & button {
    width: 91.4%;
    height: 4vh;
    border-radius: 4px;
    background-color: var(--color-red-1);
    margin-bottom: 1vh;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-white);
    border: none;

    &:focus {
      outline: none;
    }
  }
}